@font-face {
	font-family: PlaylistScript;
	src: url(stylesheets/fonts/Playlist-Script.otf);
}
@font-face {
	font-family: Bebas;
	src: url(stylesheets/fonts/Bebas.ttf);
}

.loginwarn, .passwarn, .userwarn {
	color: #B30000;
	margin:20px;
}

.hidden {
	display: none;
}

html {
	box-sizing: border-box;
	display: block;
}

body {
	color:#4A4A4A;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	/*width: 100vw;
	height: 100vh;*/
}

header {
	background: #1E5D8A;
	color:#FFFFFF;
	/*margin-top: 40px;*/
	position: fixed;
	width: 100%;
	max-height: 150px;
	z-index: 888;
}

.logout-button {
	position: absolute;
	right: 10%;
	background-color: #0E2B40;
	top: 50%;
}


h1 {
	font-family: PlaylistScript;
	font-size: 100px;
	position: relative ;
	left: 10%;
	top: -60px;
}

main {
	height: 100vh;
	width: 100vw;

}


.BG {
	position: fixed;
	/*height: 1300px;*/
	height: 100vh;
	width:100%;
	background-image: url(images/balletclass_stock_photo_crop_edit.jpg);
    background-position: right bottom;
    background-repeat: no-repeat;
    /*background-size: 1500px;*/
    background-size: 90vh;

}

.app-container {
	position: absolute;
	height: inherit;	
	width: inherit;



}

.login-container {
	position: absolute;
	/*overflow: scroll;*/
	background: white;
	top:25%;
	width: 30%;
	/*height: 60%;*/
	max-height: 500px;
	min-width: 270px;
	left: 10%;
	padding: 20px;
	border: 2px solid #4A4A4A;
	border-radius: 3px;

}

.panels-container {
	width: 80%;
	display: grid;
	grid-template-columns: 50% 50%;
	position: absolute;
	top: 25%;
	left:10%;
	margin-right: 20px;
	overflow: scroll;
	margin-bottom: 100px;
}

.border {
	background: white;

	padding: 10px;
	border: 2px solid #4A4A4A;
	border-radius: 3px;
}



.list-item {
	color:#1A527A;
	background: #EDEDED;
	display: grid;
 	grid-template-columns: 60% 20% 20%;
}



.signup-container {
	position: absolute;
	top: 25%;
	background: white;
	left: 10%;
	padding: 20px;
	border: 2px solid #4A4A4A;
	border-radius: 3px;
	width: 30%;

}


aside {
	color: white;
	background: #4A4A4A;
	padding: 20px;
	border: 2px solid #1E5D8A;
	border-radius: 3px;
	z-index: 9999;
	max-height: 80vh;
	overflow: scroll;
}

.deets-container {
	display: flex;
	width: 60%;
	position: fixed;
	top: 15%;
	left: 25%;
	margin: auto;
	z-index: 9999;

}


h2 {
	font-family: 'Bebas';
	font-size:40px;
}


button, .select {
	background-color: #1E5D8A;
	color: white;
	border: 1px solid #BABABA;
	padding: 5px;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
}

.view-deets, .view-deets-2 {
	color: #1E5D8A;
	background-color: white;
}

.view-deets-2 {
	margin-left: 10px;
}

button:hover, .select:hover {
	color: black;
	background-color: #37ACFF;
}


button[type="submit"] {
	margin-top: 40px;
	padding: 10px;
}

.join-form-submit {
	background-color: #CCCC18;
	color: black;
	margin: 20px;
}

ul {
	list-style-type: none;

}

li {
	color:#1E5D8A;
	background-color:white;
	margin-bottom: 25px;
	/*border: 2px solid #1E5D8A;*/
	padding: 15px;
	margin-left: -40px;
}

.login-form > input {
	display: block;
	margin: 5px 0px 15px;
}

p {
	margin-top: 50px;
}



.sched-label {
	display: grid;
	grid-template-columns: 65% 35%;
}

input[type="radio"] {
	visibility: hidden;
	width: 0px;
	margin: 0px;

}

.sched-input {
	display: flex;
	float: right;
}

.select {
	width: 100%;
	padding: 20px 0;
	text-align: center;
	margin-left: 10px;
}


.info {
	margin-top: 20px;
	font-size: 15px;
    padding: 10px;
    color:#1A527A;
	background: #EDEDED;
}

.sign > input {
	display: block;
	margin: 5px 0px 25px;
	width: 70%;
	height: 20px;
}

.sched-item {

 	margin-bottom: 15px;
 	padding: 8px;
 	display: grid;
 	grid-template-columns: 80% 20%;
}


.sched-item > label:hover, .sched-label.active, label:focus, input[checked] + label {
    border: 2px solid #1E5D8A;
    padding: 10px;
    color:#1A527A;
	background: #EDEDED;
}

.join-class {
	background-color: #CCCC18;
	color: black;
	padding: 10px;
	max-height: 40px;
	margin: auto;
}

.close {
	float: right;
	background-color: #CCCC18;
	color: black;
	padding: 10px;
}



.cancel-res {
	margin-left: 20px;
}

@media all and (max-width: 1690px) {
	.BG {
		background-size: 90vh;
	}

	p {
		margin-top: 40px;
	}

	.app-container {
		height: 80vh;
		top: 0%;
	}
	header {
		max-height: 110px;
	}
	h1 {
		font-size: 80px;
		top: -55px;
	}
	h2 {
		font-size: 40px;
	}
	li, label {
		font-size: 15px;
	}
	.list-item {
		grid-template-columns: 40% 25% 35%;
	}


}

@media all and (max-width: 1280px) {
	.list-item {
		grid-template-columns: 45% 25% 30%;
	}
}



@media all and (max-width: 1176px) {
	h2 {
		font-size: 35px;
	}
	.app-container {
		width: 95vw;
	}
	.panels-container {
		width: 90%;
		left: 5%;
	}
	.login-form > input {
	margin: 5px 0px 5px;
	}
	.cancel-res {
		font-size: 12px;
	}
	.sched-item {
		grid-template-columns: 75% 25%;
	}
}

@media all and (max-width: 1028px) {
	h2 {
		font-size: 30px;
	}
	h3 {
		font-size: 18px;
	}
	.list-item {
		grid-template-columns: 100% ;
	}
	.cancel-res {
		margin-left: 0px;
		margin-top: 10px;
	}
	.view-deets {
		margin-top: 10px;
	}
	/*.panels-container {
		display: block;
	}*/
}

@media all and (max-width: 786px) {
	h1 {
		font-size: 50px;
		top: -23px;
	}
	h2 {
		font-size: 20px;
	}

	.panels-container {
		left: 0%;
		width: 100%;
		margin-left: 5px;
		top: 40%;

	}
	.signup-container {
		width: 60%;
	}
	.sched-item {
		display: block;
		grid-template-columns: 100%;
	}
	.sched-label {
		grid-template-columns: 100%;
	}
	.select {
		margin: 10px 0px;
		padding: 10px 0px;
	}
	.view-deets-2 {
		margin-left: 0px;
		width: 100%;
	}
	.close {
		font-size: 10px;
	}

}



@media all and (max-width: 480px) {
	h1 {
		font-size: 60px;
		top: -28px;
	}
	h2 {
		font-size: 20px;
	}
	.info {
		font-size: 13px;
	}
	
	/*.list-item {
		grid-template-columns: 100% ;
	}*/
	.logout-button {
		top: 60px;
		right: 5%;
	}
	/*.cancel-res {
		margin-left: 0px;
		margin-top: 10px;
	}
	.view-deets {
		margin-top: 10px;
	}*/
	.deets-container {
		width: 80%;
		top: 15%;
		left:10%;
	}
}

@media all and (max-width: 375px) {

	h2 {
		font-size: 20px;
	}

	.logout-button {
		font-size: 10px;
		top: 70px;
	}
	.login-container {
		margin: auto;
		top: 25%;
		left: 5%;
	}
	.BG {
		background-position: bottom;
	}
	.signup-container {
		width: 80%;
		left: 5%;
		top: 25%;
	}

}







