@font-face {
	font-family: PlaylistScript;
	src: url(stylesheets/fonts/Playlist-Script.otf);
}
@font-face {
	font-family: Bebas;
	src: url(stylesheets/fonts/Bebas.ttf);
}

.loginwarn {
	color: #B30000;
	margin:20px;
}

.hidden {
	display: none;
}

html {
	box-sizing: border-box;
	display: block;
}

body {
	color:#4A4A4A;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	width: 100vw;
}

header {
	background: #1E5D8A;
	color:#FFFFFF;
	position: fixed;
	width: 100%;
	max-height: 150px;
	z-index: 888;
}

.logout-button {
	position: absolute;
	right: 10%;
	top: 10%;
}

h1 {
	font-family: PlaylistScript;
	font-size: 100px;
	position: relative ;
	left: 10%;
	top: -60px;
}

main {
	height: 2000px;
	width: 100vw;
}


.BG {
	position: fixed;

	height: 1300px;
	width:100%;
	background-image: url(images/balletclass_stock_photo_crop_edit.jpg);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 1500px;

}

.app-container {
	position: absolute;
	height: inherit;	
	width: inherit;



}

.login-container {
	position: fixed;
	background: white;
	top:25%;
	width: 20%;
	min-width: 300px;
	left: 10%;
	padding: 20px;
	border: 2px solid #4A4A4A;
	border-radius: 3px;

}

.panels-container {
	width: 80%;
	display: grid;
	grid-template-columns: 50% 50%;
	position: absolute;
	top: 15%;
	left:10%;
}

.border {
	background: white;

	padding: 20px;
	border: 2px solid #4A4A4A;
	border-radius: 3px;
}





.list-item {
	color:#1A527A;
	background: #EDEDED;
	display: grid;
 	grid-template-columns: 60% 20% 20%;
}



.signup-container {
	position: absolute;
	top: 15%;
	background: white;
	left: 10%;
	padding: 20px;
	border: 2px solid #4A4A4A;
	border-radius: 3px;
	width: 500px;

}


aside {
	color: white;
	background: #4A4A4A;
	padding: 20px;
	border: 2px solid #1E5D8A;
	border-radius: 3px;
	z-index: 9999;
}

.deets-container {
	display: flex;
	float:right;
	width: 50%;
	margin-right: 300px;
	z-index: 9999;
}


h2 {
	font-family: 'Bebas';
	font-size:40px;
}

button {
	background-color: #1E5D8A;
	color: white;
	border: 1px solid #BABABA;
	padding: 5px;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
}

button:hover {
	color: white;
	background-color: #1E5D8A;
}

ul {
	list-style: none;
}

li {
	color:#1E5D8A;
	background-color:white;
	margin-bottom: 15px;
	border: 2px solid #1E5D8A;
	padding: 15px;
}

.login-form > input {
	display: block;
	margin: 5px 0px 15px;
}

.signup-form > input {
	display: block;
	margin: 5px 0px 15px;
}

.sched-item {
	display:flex;
 	margin-bottom: 15px;
 	padding: 8px;
}

.sched-input {
	margin-right: 5px;
}

.sched-item > label:hover, label:focus, input[checked] + label {
    border: 2px solid #1E5D8A;
    padding: 10px;
}



.cancel-res {
	margin-left: 20px;
}



